<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>testconfig</servlet-name>
        <servlet-class>servlet.ConfigTestServlet</servlet-class>
        <!--        这里可以配置Servlet对象的初始化信息的。-->
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/hsp_db02</param-value>
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>hsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>testconfig</servlet-name>
        <url-pattern>/testconfig</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>testconfig02</servlet-name>
        <servlet-class>servlet.ConfigTestServlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testconfig02</servlet-name>
        <url-pattern>/testconfig02</url-pattern>
    </servlet-mapping>
</web-app>